/* selector */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

/*content body */

 body {

     display: flex;
     background-color: #2c68a3;
}

/* Registration text - create your account - login .&  /*  Application form */

h1{

position: absolute;
left:31%;
top:39px;
}

p{

position: absolute;
left:35%;
top:90px;

}

 /*  Application form*/


main{
display:flex;
margin-left: 37%;
margin-top: 10%;
width: 32%;
background-color: whitesmoke;
position: absolute;
border-radius: 12px;
box-shadow: 3px 6px 4px 3px whitesmoke;

}

input {
    display:flex;
    margin-left: 23%;
    margin-top: 4%;
    font-size: 22px;
    border-radius: 9px;
    width: 400px;
    height: 60px;
}

 .input-field1 {

     padding: 38%;
     margin-top: -45%;
     border: none;
}


 /* Botão do formulário */


 .submit {

     border: none;
     border-radius: 12px;
     background-color: rgb(83, 83, 241);
     cursor: pointer;
     width: 350px;
     height: 59px;
     margin: 50px;
     margin-left: 29%;
     padding: 6%;
     text-align: center;
     font-size: 20px;
     padding-top: 20px;

 }


/* terms and services / checkbox box */

 label{
  display:flex; 
  position: absolute;
  left: 44.5%;
  top: 72%;
 }

.label__input {
   display:flex;
   position:absolute;
   height: 16px;
   width: 16px;
   cursor: pointer;
   left: 20%;
   top: 64.11%;
}
